<h1>Explore or add to your portfolio below</h1>

<% @cryptocurrencies.each do |cryptocurrency| %>
  <p> <%= cryptocurrency.name %></p>
  <p> <%= cryptocurrency.amount %></p>
  <p> <%= cryptocurrency.symbol %></p>
<% end %>