<div class="container">
    <div class="row">
        <div class="col-xs-12">
        
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="/admin/images">Images</a></li>
              <li class="breadcrumb-item active" aria-current="page">New</li>
            </ol>
          </nav>

        </div>
    </div>
</div>













<div class="container">
    <div class="row">
        <div class="col-xs-12">
          <h1>New image</h1>
          <p>Enter the url for your new image in the form below</p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-xs-12">

          <%= form_for [:admin, @image] do |f| %>
            <%= f.label :url %>
            <%= f.text_field :url, :class => "form-control"%>

            <%= f.submit "Create image", :class => 'btn btn-sm btn-pill btn-success',style: 'float:right; margin-top: 40px;' %>
          <% end %>

        </div>
    </div>
</div>









